/*  */
/* Notes: For some reason my class="all-cars"(The div's for all boxes) wouldn't want to work*/
/* Realised after I was done with everything I could also add an additional class for button so I wouldn't add everything twice */
/* I tried to add --colors but I bailed when things started to fail */
/* Didn't fully understand overflow or when you should use min-weight, max-weight or weight.
I failed when I tried myself but with what you did under the presentation. Line 32 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  border: 5px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 40px;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
.main {
  display: flex;
  border-radius: 10px;
  max-width: 920px;
  height: 500px;
  overflow: hidden;
}

.left {
  padding: 44px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: hsl(31, 77%, 52%);
}
.left-btn {
  margin-top: 50px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 30px;
  color: hsl(31, 77%, 52%);
}
.middle {
  padding: 44px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: hsl(184, 100%, 22%);
}
.middle-btn {
  width: 150px;
  margin-top: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: hsl(184, 100%, 22%);
}
.right {
  padding: 44px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: hsl(179, 100%, 13%);
}
.right-btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: hsl(179, 100%, 13%);
  margin-top: 50px;
}

img {
  width: 64px;
}
